body {
background: #F0CA8D;
background-attachment: fixed;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: black;
text-align: center;
font-family: "Press Start 2P",sans-serif, Arial;
font-weight: bold;
}
.about {
color: #8DA0F0;
font-family: "Copperplate",'Courier New', Courier, monospace;
}
.skills {
color: aquamarine;
font-family: "Copperplate",'Courier New', Courier, monospace;
}
.projects {
color: darkslateblue;
font-family: "Copperplate",'Courier New', Courier, monospace;
}
.contact {
color: azure;
font-family: "Copperplate",'Courier New', Courier, monospace;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}